# lists


-ordered sequence of elements

-mutable (add, remove,change) after creation

- indexed (positivity and negativity)

-heterogenous(different types of data ),can be homogenous(same types of data)
-nesting can be done

-represented by square brackets[]

- lists() constructors to create a list

In [17]:
names = ['Alices','bob','charlie','debbie']
prime_num = [2,3,5,7,11,13,17,19,23,29]
mix_lists =[1,'Alices',2,'bob',3,'charlie',4,'debbie',5]
nest_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [18]:
print(len(names))
print(len(prime_num))
print(len(mix_lists))
print(len(nest_lists))

4
10
9
3

In [19]:
for i in names:
    print(i)

Alices
bob
charlie
debbie

indexing

In [20]:
print ('first element',prime_num[0])
print ('fourth  element',prime_num[3])
print ('last element',prime_num[-1])

first element 2
fourth  element 7
last element 29

updating an index

In [21]:
names [1]= 'john'
print(names)

['Alices', 'john', 'charlie', 'debbie']

slicing

In [22]:
prime_num[:5] # first 5 elements

[2, 3, 5, 7, 11]

In [23]:
prime_num[-5:]  #last 5 elements

[13, 17, 19, 23, 29]

In [24]:
prime_num[::-1] #all the elements

[29, 23, 19, 17, 13, 11, 7, 5, 3, 2]

In [25]:
prime_num[::2]

[2, 5, 11, 17, 23]

adding , removing

In [26]:
a =[] # empty list
a.append(100)
a.append(10)
a.append(1)
print(a)

[100, 10, 1]

In [27]:
a.append(100)
print(a)

[100, 10, 1, 100]

In [28]:
a.remove(10)
a.remove(100)
print(a)

[1, 100]

In [29]:
a.insert(0, 20) # zero index pe 20 rakha 
print(a)

[20, 1, 100]

In [30]:
a.pop(1) # remove value at index 1

1

In [31]:
a.pop() # remove value at last index (default)

100

In [32]:
a.clear()
print(a)

[]

# concatenation`+` Vs merging `extend()`

In [35]:
a = [1,2,3]
b = [3,4,5]
print('a',a)
print('b',b)
c = a+b
print('c',c)
a.extend(b)
print('a',a)
print('b',b)

a [1, 2, 3]
b [3, 4, 5]
c [1, 2, 3, 3, 4, 5]
a [1, 2, 3, 3, 4, 5]
b [3, 4, 5]

In [37]:
a = []
for i in range(2,101,2):
    a.append(i)
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [39]:
y = list(range(2,101,2)) # upar wala code ka short version
print(y)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [40]:
y.reverse()
print(y)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [41]:
a.sort()
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [43]:
a= [12,32,54,12,32,43,43,46,65]
print(a.count(12))
print(a.count(32))
print(a.count(23))

2
2
0

In [45]:
# just checking if a value exits in list
print(54 in a)
print(32 in a)
print(46 in a)

# finding the first occurance of a value in list 
print(a.index(12))
print(a.index(32))

True
True
True
0
1