String
- create 
- Indexing & access
- slicing
- most usefull methods

In [1]:
a = 'apple' # single quotes 
b = "apple juice" # double quotes
c = '''this in   
an example''' # triple quotes mein multi lines strings likhte hain .

- string is immutable .
- string is iterable . 
- string is indexed.
# iterables :
- items within iteams .

In [6]:
print(a[0],a[-1])
print(a[1],a[-2])
print(a[2],a[-3])
print(a[3],a[-4])
print(a[4],a[-5])

a e
p l
p p
l p
e a

Slicing
`str[start:stop:step]`

In [22]:
name = "vijay deenanath chauhan"
print(name[0:5])
print(name[6:15])
print(name[16:23])
print(name[16:23])
print(name[:5])
print(name[-7:])
print(name[-7:])
print(name[:15:2]) # jump kar raha hai 2 letters 
print(name[::2]) # start to end with step 2 gap
print(name[::-1]) # reverse

vijay
deenanath
chauhan
chauhan
vijay
chauhan
chauhan
vjydeaah
vjydeaahcahn
nahuahc htananeed yajiv

In [23]:
name[:][::-1][:5]

'nahua'

In [27]:
fname = "Bruce"
lname = "Wayne"
fname + lname # concatenation (jodna)

'BruceWayne'

In [31]:
f"{fname}"

'Bruce'

In [28]:
"驕멆잺"*10 # repetation

'驕멆잺驕멆잺驕멆잺驕멆잺驕멆잺驕멆잺驕멆잺驕멆잺驕멆잺驕멆잺'

string methods

In [35]:
print(a.capitalize())
print(a.casefold())

Apple
apple

find and replace

In [40]:
sentence = "king went up to the hill"
print(sentence.find('bheem')) # -1 if not found 
print(sentence.find('to'))
print(sentence.find('went'))

print(sentence.replace('king','queen'))
print(sentence.replace('hill','ocean'))
sentence2 = sentence.replace('king','queen').replace('hill','Ocean')
print(sentence2)

-1
13
5
queen went up to the hill
king went up to the ocean
queen went up to the Ocean

In [41]:
sentence.replace('n','')

'kig wet up to the hill'

In [42]:
sentence.split()

['king', 'went', 'up', 'to', 'the', 'hill']

In [43]:
s3 = 'apple , banana , orange , mango'
s3.split(',')

['apple ', ' banana ', ' orange ', ' mango']

In [44]:
poem = '''
twinkle twinkle little star ,
how i wonder what you are , 
up above the world so high ,
like a diamond in the sky .
'''
print(poem.splitlines()) # better than split ('\n)
print(poem.split())
print(poem.split(','))

['', 'twinkle twinkle little star ,', 'how i wonder what you are , ', 'up above the world so high ,', 'like a diamond in the sky .']
['twinkle', 'twinkle', 'little', 'star', ',', 'how', 'i', 'wonder', 'what', 'you', 'are', ',', 'up', 'above', 'the', 'world', 'so', 'high', ',', 'like', 'a', 'diamond', 'in', 'the', 'sky', '.']
['\ntwinkle twinkle little star ', '\nhow i wonder what you are ', ' \nup above the world so high ', '\nlike a diamond in the sky .\n']

In [49]:
path = ["C:",'Users','user','Documents']

print("/".join(path))
print(",".join(path))
print("^".join(path))
print("游때".join(path))

C:/Users/user/Documents
C:,Users,user,Documents
C:^Users^user^Documents
C:游때Users游때user游때Documents