# web or data mining 
- dputils

In [ ]:
from dputils.scrape import Scraper, Tag

In [ ]:
url = "https://pypi.org/"

sc = Scraper(url)

content = sc.get_tag(Tag("body"))

In [ ]:
print(content.get('body'))

Flipkart example

In [5]:
url ='https://www.flipkart.com/cameras/dslr-mirrorless/pr?sid=jek%2Cp31%2Ctrv'
flipkart = Scraper(url)

Selecting a random User-Agent...
Randomly picked browser: Safari
Randomly picked operating system: Mac
ğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒ
User agent:  {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.2 Safari/605.1.15'}
Cookies:  {'session-id': '', 'session-id-time': '', 'session-token': ''}
url:  https://www.flipkart.com/cameras/dslr-mirrorless/pr?sid=jek%2Cp31%2Ctrv
ğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒğŸŒ

In [6]:
t = Tag(cls='_1YokD2 _3Mn1Gg') # target 
items = Tag(cls='_2kHMtA') # Repeating items
# tag data to be extract
n = Tag(cls='_4rR01T')
p = Tag(cls='_30jeq3 _1_WHN1')
ar = Tag(cls='_3LWZlK')
rc = Tag('span', cls='_2_R_DZ')

out = flipkart.get_repeating_page_data(
    target= t,
    items= items,
    name = p,
    avg_rating = ar,
    rating_count = rc 

)

In [7]:
import pandas as pd 
pd.DataFrame(out)

         name avg_rating                    rating_count
0     â‚¹47,990        4.4        202 RatingsÂ &Â 19 Reviews
1     â‚¹61,489        4.5        868 RatingsÂ &Â 94 Reviews
2     â‚¹77,990        4.5       709 RatingsÂ &Â 109 Reviews
3     â‚¹41,990        4.5  16,382 RatingsÂ &Â 2,180 Reviews
4     â‚¹33,990        4.4  28,440 RatingsÂ &Â 4,095 Reviews
5     â‚¹57,990        4.5     4,887 RatingsÂ &Â 685 Reviews
6     â‚¹70,989        4.6        728 RatingsÂ &Â 93 Reviews
7     â‚¹79,990        4.7         99 RatingsÂ &Â 12 Reviews
8     â‚¹79,989        4.6        728 RatingsÂ &Â 93 Reviews
9     â‚¹56,989        4.5        598 RatingsÂ &Â 93 Reviews
10    â‚¹71,990        4.6        197 RatingsÂ &Â 27 Reviews
11  â‚¹2,14,489          5           3 RatingsÂ &Â 1 Reviews
12    â‚¹78,989        4.5        598 RatingsÂ &Â 93 Reviews
13    â‚¹66,989        4.5        598 RatingsÂ &Â 93 Reviews
14    â‚¹61,489        4.5        868 RatingsÂ &Â 94 Reviews
15  â‚¹1,41,489        4.5        423 RatingsÂ &Â 55 Reviews
16    â‚¹52,489        4.5        868 RatingsÂ &Â 94 Reviews
17  â‚¹1,27,489        4.5        423 RatingsÂ &Â 55 Reviews
18    â‚¹52,489        4.5        868 RatingsÂ &Â 94 Reviews
19    â‚¹87,990        4.5        355 RatingsÂ &Â 46 Reviews
20  â‚¹2,18,489        4.2         62 RatingsÂ &Â 12 Reviews
21  â‚¹1,25,989        4.6         80 RatingsÂ &Â 11 Reviews
22    â‚¹86,990        4.4     1,456 RatingsÂ &Â 173 Reviews
23    â‚¹49,990        4.3         65 RatingsÂ &Â 13 Reviews